<div class="container">
  <h1><%=@list.name%></h1>
  <% @list.bookmarks.each do |bookmark| %>
  <div class="card-product">
    <p><%=image_tag bookmark.movie.poster_url %> </p>
    <div class="card-product-infos">
    <div class = "d-flex">
      <h4 class= "me-2"><strong><%= bookmark.movie.title %></h4></strong>
      <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"} do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </div>
      <p><em><%= bookmark.movie.overview%></p></em>
      <p><%= bookmark.movie.rating%></p>

    </div>
  </div>
  <% end %>
  <%= link_to "add a new bookmark", new_list_bookmark_path(@list), class: "btn btn-ghost"%>
</div>
